<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SD Organ Collaborative</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>

    <section class="header">
      <a href="/">
        <h2>San Diego Organ Collaborative</h2>
      </a>
      <div class="header__drawer-toggle">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="desktop-only">
      {{> nav/nav-items }}
      </div>
      <div></div>
    </section>

    {{{body}}}

    <script src="/assets/js/main.js"></script>

  </body>
</html>