<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SD Organ Collaborative</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>

    <section class="header">
      <a href="/">
        <h2>San Diego Organ Collaborative</h2>
      </a>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/events">Events</a></li>
        </ul>
      </nav>
    </section>

    {{{body}}}

    {{! <script src="/js/main.js"></script> }}

  </body>
</html>