<div class="row">
  <div class="u-padding-y-medium">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum eos natus
    sit illum vitae earum est dolore eum enim ab, at obcaecati, ducimus ipsum
    quis dolorem non, ipsam vero hic?
  </div>
</div>